@media (prefers-color-scheme: dark) {
  :root {
    --bg: #b4b4b4;
    --text: #000000;
    --subtext: #ffffff;
    --linktext: #000000;
    --underline: #dedede;
    --sectionbg: #ffffff;
    --buttoncolor: #000000;
    --buttonbgcolor: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #b4b4b4;
    --text: #000000;
    --subtext: #ffffff;
    --linktext: #000000;
    --underline: #dedede;
    --sectionbg: #ffffff;
    --buttoncolor: #000000;
    --buttonbgcolor: #ffffff;
  }
}

body {
  font-family: "Comfortaa", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__avatar {
  border-radius: 200%;
  grid-area: img;
  width: 220px;
  height: 220px;
  margin: 0 0 10px 0;
}

.header__title {
  margin: 0 0 10px 0;
  font-weight: 200;
  font-size: 20px;
  line-height: 0.9;
  font-family: "Comfortaa", sans-serif;
  grid-area: title;
  align-items: center;
}

.header__subtitle {
  color: var(--subtext);
  font-weight: 200;
  font-size: 20px;
  line-height: 0.9;
  margin: 0 0 20px 0;;
  grid-area: subtitile;
}

.links {
  width: 320px;
  margin-bottom: 20px;
}

.links__header {
  font-size: 15px;
  line-height: 2.0;
  margin: 0 0 10px 0;
  font-family: "Comfortaa", sans-serif;
}

.links__container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.0;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: var(--linktext);
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  margin-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: var(--buttonbgcolor);
  border-radius: 10px;
  border: none;
  outline: none;

  font-size: 15px;
  line-height: 1.4;

  color: var(--buttoncolor);
  text-decoration: none;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Comfortaa"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/Comfortaa.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/Comfortaa.woff") format("woff");
}

/* Теперь можно использовать шрифт */
body {
  font-family: "Comfortaa", sans-serif;
}